<div id="center" class="main center">

  <div class="container">
    <article *ngIf="film">

    <!-- Début partie spécifique home page -->
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <img class="details-img" [src]="film.poster_path" />
      </div>
      <div class="col-xs-12 col-sm-8">
        <h2>{{film.original_title}}</h2>
        <h3>{{film.overview}}</h3>
        <p class="meta-wrap">
          <span class="rating">rating: {{film.vote_average}} </span>
          <span class="meta">{{film.original_language}} / 148 min. / {{film.release_date}}</span>
        </p>

        <ul class="genres">
          <li>Action</li>
          <li>Adventure</li>
          <li>Science-Fiction</li>
        </ul>
    </div>
    <!-- Fin partie spécifique home page -->
  
  </div>
</article>
  </div>

</div>
